<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Dashboard</title>

  <script src="jquery.js"></script>
  <script src="dashboard.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        window.dashboard_version = '<%= ENV['COMMIT_HASH'] || 'unversioned' %>';
        dashboard = new window.Dashboard();

        var CpuLoadWidget = function()
        {
          this.render = function(data)
          {
            $("#cpu_load")[0].style.width = data.load + "%"
          }
        }

        dashboard.addWidget('cpu', CpuLoadWidget);
        dashboard.run();
    });
  </script>
</head>

<body>
  <div id="content">
    <div style="width: 100px; height: 30px; margin: 20px; border: 1px solid black">
      <div id="cpu_load" style="background-color: black; height: 30px;">&nbsp;</div>
    </div>
  </div>
</body>
</html>
