<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Dashboard</title>

  <script src="jquery.js"></script>
  <script src="dashboard.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        window.dashboard_version = '<%= ENV['COMMIT_HASH'] || 'unversioned' %>';
        dashboard = new window.Dashboard();

        var CpuLoadWidget = function()
        {
          this.readyForNewValue = false;
          this.render = function(data)
          {
            var that = this;
            if(that.readyForNewValue) {
              that.readyForNewValue = false;
              $("#cpu_load").animate({ height: data.load + "%" }, 250, function { that.readyForNewValue = true })
            }
          }
        }

        dashboard.addWidget('cpu', CpuLoadWidget);
        dashboard.run();
    });
  </script>
</head>

<body style="background-color: black; color: white">
  <div id="content">
    <h3>Current reported CPU usage:</h3>
    <div style="width: 100px; height: 600px;">
      <div id="cpu_load" style="background-color: #1111FF; width: 100px; border-radius: 5px">&nbsp;</div>
    </div>
  </div>
</body>
</html>
